node_modules/
package-lock.json
yarn.lock

.env
.env.local
.env.*.local

logs/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

botiumwork/
demo-stage/
demo-stage-wa/
demo-prod/
demo-prod-wa/
mochawesome-report/
mochawesome.html
mochawesome.json

.DS_Store

.vscode/
.idea/
*.swp
*.swo
*~

dist/
build/
.cache/

aws_credentials/

.aws/
